 .u-section-1 {
  min-height: 637px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  left: 0;
  right: auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + -101px);
  padding: 6px 12px 8px 10px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.25em;
  margin-left: 6px;
  vertical-align: 0px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: AnotherDanger-Demo;
  font-weight: bold;
  margin: -18px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -199px auto 0 calc(((100% - 1140px) / 2) + -101px);
  padding: 6px 12px 8px 10px;
}

.u-section-1 .u-icon-2 {
  font-size: 2.25em;
  margin-left: 6px;
  vertical-align: 0px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + -101px);
  padding: 6px 12px 8px 10px;
}

.u-section-1 .u-icon-3 {
  font-size: 2.25em;
  margin-left: 6px;
  vertical-align: 0px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 285px auto 20px calc(((100% - 1140px) / 2) + -101px);
  padding: 6px 12px 8px 10px;
}

.u-section-1 .u-icon-4 {
  font-size: 2.25em;
  margin-left: 6px;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 990px;
    left: -100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 228px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 770px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 338px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 590px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -25px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
    margin-left: calc(((100% - 1140px) / 2) + 428px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 59px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 390px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -67px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-left: calc(((100% - 1140px) / 2) + 481px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2));
  }
}@font-face {
  font-family: 'AnotherDanger-Demo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AnotherDanger-Demo.otf);
}